[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/opt/Kreuzworträtseler/crosswords.jl
Name=Kreuzworträtseler
Icon=/opt/Kreuzworträtseler/Kreuzworträtseler.png